<%= render partial: 'flash' %>
<div class="page nobg">
  <h1 class="title">
    <%= @group.name %>
  </h1>

  <h2>Admin Members</h2>
    <ul class="listing" id="admin_members">
      <%= render partial: 'member', collection: @admin_members %>
    </ul>
  <h2>Members</h2>
    <ul class="listing" id="members">
      <%= render partial: 'member', collection: @members %>
    </ul>

    <%= link_to "Add Member", new_group_member_path(group: @group), class: 'button medium radius' %>
</div>
