<%= provide(:title, "#{@user.username}") %>
<%= provide(:description, "#{@user.username}'s Groups.") %>


<div class="page profile" data-equalizer>
  <%= render 'sidebar' %>

  <div class="main" data-equalizer-watch>
    <%= render 'heading', user: @user, title: "#{posessivize(@user.name)} Groups", active: 'groups' %>
    <%= link_to "Create Group", new_group_path, class: 'button medium radius' %>

    <% @groups.each do |group| %>
      <%= link_to group.name, group_path(group) %>
    <% end %>
  </div>
</div>
